@model UserDomain
<table>
    <tr>
        <td>
            <h5><em>Create a new post:</em></h5>
        </td>
    </tr>
    <tr>
        <form method="post" asp-action="AddPost" asp-controller="Post">
        <td>
            Title <input type="text" id="title" name="title" />
        </td>
    <tr />
    <tr>
        <td>
            <input type="text" id="postText" name="postText" />
        </td>
    </tr>
    <tr>
        <td>
            <button type="submit">Submit</button>
        </td>
        </form>
    </tr>
</table>