@addTagHelper *, BlogMvcCore
@model UserDomain

<table>
    <tr><td><h5><em>Previous posts:</em></h5></td></tr>
    <tr>
        <td>
            @if (Model.Posts.Count > 0)
            {
                <post-preview post-list="@Model.Posts"> </post-preview>
            }
            else
            {
                <p>Here's nothing to show you. Write a post at first...</p>
            }
        </td>
    </tr>
</table>