@model PostDomain

<div>
    <table>
        <tr>
            <td>@Model.Author</td>
            <td>@Model.Date</td>
        </tr>
        <tr>
            <td>
                @Model.Title
            </td>
        </tr>
        <tr>
            <td>
                @Model.Text
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            Let's start discussing...
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form method="post" asp-action="AddComment" asp-controller="Comment" asp-route-postID=@Model.ID asp-route-commentText="">

                                <button type="submit">Submit</button>
                            </form>
                        </td>
                    </tr>
                </table>
                <hr class="hr1">
                @if (Model.Comments.Count() != 0)
                {
            <tr>
                <td>
                    <partial name="~/Views/Comment/_PostComment.cshtml" for=@Model.Comments></partial>
                </td>
            </tr>
                }
    </table>
</div>
