@{
    string imagePath = "~/Images/Started.jpg";

    string name = $"{Model.FirstName} {Model.SecondName}";
}

<tr>
    <td>
        <img src=@imagePath asp-append-version="true" />
    </td>
    <td>
        <h1> @name </h1>
    </td>
</tr>