@{
    var time = DateTime.Now.Hour;
    var dayTime = time < 12 && time > 6 ? $"morning" :
                      (time < 18 ? "afternoon" : "evening");
    var greeting = $"Good {dayTime}!";
}
@{
    ViewData["Title"] = "Sign in or register";
}

<div>
    <p><h2 align="center"><b><em>@greeting</em></b></h2></p>
    <p></p>
    <p align="center">@Html.ActionLink("Sign in", "SignIn") or @Html.ActionLink("Register", "Register")</p>
</div>