@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <td>
            Use this page to detail your site's privacy policy.
        </td>
    </tr>
</table>
