@model List<User>

@{
    ViewData["Title"] = "Blogs List";
}

<div>
    <table>
        @foreach (var item in Model)
        {
            <tr><td>@Html.ActionLink($"{item.FirstName} {item.SecondName}", "UserPage") </td></tr>
        }
    </table>
</div>