@model List<UserDomain>

@{
    ViewData["Title"] = "Blogs List";
}

<div>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="VisitUserPage" asp-controller="User" asp-route-login=@item.Login>@item.FirstName @item.SecondName</a>
                </td>
            </tr>
        }
    </table>
</div>