@model List<UserDomain>

@{
    ViewData["Title"] = "Blogs List";
}

<div>
    <table>
        @foreach (var item in Model)
        {
            <tr><td>@Html.ActionLink($"{item.FirstName} {item.SecondName}", "VisitUserPage", "User", new { login = item.Login }) </td></tr>
        }
    </table>
</div>