@{
    ViewData["Title"] = "Home Page";
}

 <div>
        <table>
            <tr><td><img src="~/Images/Started.jpg" alt="Sample Image" /></td><td><h1> @ViewBag.UserName</h1></td></tr>
            <tr><td></td><td>
                    @using(Html.BeginForm("AddPost", "User", FormMethod.Post))
                    {
                         <table>
                            <tr><td><h3>Create new post</h3></td></tr>
                            <tr><td>Enter topic: @Html.TextBox("topic","")</td></tr>
                            <tr><td> @Html.TextArea("postText", "",rows:10,columns:40,htmlAttributes:true)</td></tr>
                            <tr><td><button type="submit">Save</button></td></tr>
                         </table>
                    }</td></tr>
            <tr><td>Previous posts:</td></tr>
        </table>
 </div>