@{
    ViewData["Title"] = "Home Page";
}
<div>
    <table>
        <tr><td>@await Html.PartialAsync("_UserInfo")</td></tr>
        <tr><td></td><td> @Html.Partial("~/Views/Post/_AddPost.cshtml")</td> </tr>
        <tr><td>@Html.Partial("~/Views/Post/_UserPost.cshtml")</td></tr>
    </table>
</div>