
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table>
        @await Html.PartialAsync("_UserInfo")
        <tr>
            <td></td>
            <td>
                @await Html.PartialAsync("_AddPost")
            </td>
        </tr>
        @await Html.PartialAsync("_UserPost")
    </table>
</div>