@{
    ViewData["Title"] = "Home Page";
}
<div>
    <table>
        <tr>
            <td>
                <partial name="~/Views/User/_UserInfo.cshtml" />
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <partial name="~/Views/Post/_AddPost.cshtml" />
            </td>
        </tr>
        <tr>
            <td>
                <partial name="~/Views/Post/_UserPost.cshtml" />
            </td>
        </tr>
    </table>
</div>