@{
    ViewData["Title"] = "Home Page";
}
<div>
    <table>
        <tr><td>@await Html.PartialAsync("_UserInfo")</td></tr>
        <tr><td></td><td> @await Html.PartialAsync("_AddPost")</td> </tr>
        <tr><td>@await Html.PartialAsync("_UserPost")</td></tr>
    </table>
</div>