@model UserDomain;
@{
    ViewData["Title"] = $"{Model.FirstName} {Model.SecondName}";
}

<div>
    <table>
        <tr>
            <td>
                <partial name="~/Views/User/_UserInfo.cshtml" />
            </td>
        </tr>
        <tr>
            <td>
                <partial name="~/Views/Post/_UserPost.cshtml" />
            </td>
        </tr>
    </table>
</div>