@model UserDomain;
@{
    ViewData["Title"] = $"{Model.FirstName} {Model.SecondName}";
}

<div>
    <table>
        <tr><td>@await Html.PartialAsync("_UserInfo")</td></tr>
        <tr><td>@Html.Partial("~/Views/Post/_UserPost.cshtml")</td></tr>
    </table>
</div>