@addTagHelper *, BlogMvcCore
@{
    ViewData["Title"] = "Start page";
}
<div>
    <table align="center">
        <tr>
            <td>
                <h2><b><em><greeting></greeting></em></b></h2>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a asp-area="" asp-controller="Authentication" asp-action="SignIn">Sign in</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <b>or</b>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a asp-area="" asp-controller="Authentication" asp-action="Register">Register</a>
            </td>
        </tr>
    </table>
</div>