@model UserDomain
@{
    ViewData["Title"] = "Register";
}
<h1><em><b>Register new user</b></em></h1>

<form method="post" asp-controller="Authentication" asp-action="CheckRegister">
    <table>
        <tr>
            <td>
                First name
            </td>
            <td>
                <input asp-for="FirstName" />
            </td>
        </tr>
        <tr>
            <td>
                Second name
            </td>
            <td>
                <input asp-for="SecondName" />
            </td>
        </tr>
        <tr>
            <td>
                Login
            </td>
            <td>
                <input asp-for="Login" />
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                <input asp-for="Password" />
            </td>
        </tr>
    </table>
    <input type="submit" value="Register" />
</form>