@model UserDomain
@{
    ViewData["Title"] = "Sign in";
}
<table align="center">
    <tr>
        <td>
            <h2><em><b>Signing in...</b></em></h2>
        </td>
    </tr>
    <form method="post" asp-action="CheckIn" asp-controller="Authentication">
    <tr>
        <td>
            Login
        </td>
        <td>
            <input asp-for="Login" />
        </td>
    </tr>
    <tr>
        <td>
            Password
        </td>
        <td>
            <input asp-for="Password" />
        </td>
    </tr>
    <tr>
        <td align="right">
            <button type="submit">Submit</button>
        </td>
    </tr>
    </form>
</table>