@model CommentDomain;

<div>
    <table>
        <tr>
            <td>
                <h5><em>Comment editing:</em></h5>
            </td>
        </tr>
        <tr>
            <td>
                <form method="post" asp-controller="Comment" asp-action="UpdateComment">
                    <input asp-for="Text" />
                    <input type="hidden" id="commentID" name="commentID" value=@Model.ID />
                    <input type="hidden" id="postID" name="postID" value=@Model.Post.ID />
                    <button type="submit">Submit</button>
                </form>
            </td>
        </tr>
    </table>
</div>

